@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'google-fonts';
    font-style: light;
    font-weight: 300;
    font-display: swap;
    src: url(/public/google-sans/ProductSans-Light.ttf) ;
  }
  @font-face {
    font-family: 'google-fonts';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/public/google-sans/ProductSans-Regular.ttf) ;
  }
  @font-face {
    font-family: 'google-fonts';
    font-style: medium;
    font-weight: 500;
    font-display: swap;
    src: url(/public/google-sans/ProductSans-Medium.ttf) ;
  }
  @font-face {
    font-family: 'google-fonts';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url(/public/google-sans/ProductSans-Bold.ttf) ;
  }
  @font-face {
    font-family: 'google-fonts';
    font-style: bold;
    font-weight: 900;
    font-display: swap;
    src: url(/public/google-sans/ProductSans-Black.ttf) ;
  }
}
a{
  @apply text-primary active:text-primary
}
.input-style {
  @apply w-full border-muted dark:bg-black dark:bg-opacity-10 border-opacity-30 focus:border-primary focus:ring-primary rounded-lg
}

.search-style {
  @apply border-muted dark:bg-black dark:bg-opacity-10 border-opacity-10 focus:border-primary focus:ring-primary rounded-xl
}